[tool.poetry]
name = "glue-utils"
version = "0.1.0"
description = "Reusable utilities for working with Glue PySpark jobs"
authors = ["Noel Llevares <dashmug@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"

[tool.poetry.group.dev.dependencies]
mypy = "^1.8.0"
ruff = "^0.3.0"
pytest = "^8.0.2"
pytest-randomly = "^3.15.0"
pytest-cov = "^4.1.0"
pip-audit = "^2.7.2"

[tool.poetry.group.local.dependencies]
# The "local" dependency group refers to dependencies that already 
# exist in AWS Glue's runtime. We don't need to install these in the
# container. We only need them for local (non-container) development to 
# aid the IDE in providing code completion and type checking.
# 
# It is best to keep the dependencies here in sync with what's on Glue's 
# documentation. 
# https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-libraries.html#glue-modules-provided
aws-glue-libs = { git = "https://github.com/awslabs/aws-glue-libs.git", rev = "master" }
pyspark = "3.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 88
output-format = "full"
respect-gitignore = true
target-version = "py310"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "D203",
    "D213",
    # Conflicts with ruff format
    "COM812",
    "ISC001",
]
exclude = ["snapshots", ".venv"]
# # Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.lint.mccabe]
max-complexity = 5

[tool.ruff.lint.per-file-ignores]
"test/**" = ["S101", "ANN", "PT", "PD", "D"]

[tool.mypy]
files = "**/*.py"
python_version = "3.10"
show_error_codes = true
pretty = true
strict = true
ignore_missing_imports = true
implicit_reexport = true
explicit_package_bases = true

[[tool.mypy.overrides]]
module = "test.*"
disallow_incomplete_defs = false
disallow_untyped_defs = false
disallow_untyped_calls = false

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning", 
    "ignore::FutureWarning:.*pyspark.*",
]

[tool.coverage.run]
omit = ["**/test_*.py"]

[tool.coverage.report]
skip_empty = true
exclude_also = [
    "def __repr__",
    "if self.debug:",
    "if settings.DEBUG",
    "raise AssertionError",
    "raise NotImplementedError",
    "if 0:",
    "if __name__ == .__main__.:",
    "if TYPE_CHECKING:",
    "class .*\\bProtocol\\):",
    "@(abc\\.)?abstractmethod",
]
